*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
libs/
src/main/java/com/popularmovies/SettingActivity.java
src/main/res/drawable/
src/main/res/layout/activity_setting.xml
src/main/res/xml/
